---
import Layout from '../layouts/Layout.astro';
import GetInvolvedForm from '../components/shared/Form/GetInvolvedForm.astro';

import { Image } from 'astro:assets';
import HomeHero from '../assets/images/home/home-hero.png'
import WhoWeAre01 from '../assets/images/home/who-we-are-01.png'
import WhoWeAre02 from '../assets/images/home/who-we-are-02.png'
import WhatWeDo01 from '../assets/images/home/what-we-do-01.png'

//Phosphor icons
import GraduationCap from "phosphor-astro/GraduationCap.astro";
import ChatsTeardrop from "phosphor-astro/ChatsTeardrop.astro";
import SpeakerHigh from "phosphor-astro/SpeakerHigh.astro";
import HandShake from "phosphor-astro/HandShake.astro";
import SealCheck from "phosphor-astro/SealCheck.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<script>
  import '@momentum-design/components/dist/components/button/index.js';
  import '@momentum-design/components/dist/components/buttonlink/index.js';
  import '@momentum-design/components/dist/components/card/index.js';
  import '@momentum-design/components/dist/components/input/index.js';
  import '@momentum-design/components/dist/components/icon/index.js';
  import '@momentum-design/components/dist/components/text/index.js';
</script>

<Layout title='Advocates for Social Justice Reform'>
  <!-- Hero -->
  <section class="section hero">
    <div class="inner-container">
      <h1>
        Justice with compassion. Support at every step.
      </h1>
      <p>
        We advocate for a fairer legal system, ensuring that every individual receives compassionate and competent support throughout the criminal legal process.

        <mdc-buttonlink
            size="40"
            href=""
            rel="noopener noreferrer">
            Learn more →
            </mdc-buttonlink>
      </p>

      <Image src={HomeHero} alt="A crowd of people holding signs outside protesting for social justice." />
    </div>
  </section>
  
  <!-- Who we are -->
  <section class="section who-we-are">
    <div class="inner-container overview">
      <!-- Overview -->
      <div class="section-left">
        <div class="section-title">
          <h2 class="pre-header">Who we are</h2>
          <p class="sub-header">
            Together, we're building a fairer and more humane justice system.
          </p>
        </div>
        <p>
          Advocates for Social Justice Reform (ASJR) is a volunteer-run coalition dedicated to transforming the criminal legal system in Travis County.
        </p>
        <p>
          We work to ensure that every person receives fair representation, compassionate support, and dignity at every step of the process.

          <mdc-buttonlink
              size="40"
              href=""
              rel="noopener noreferrer">
              Learn more →
              </mdc-buttonlink>
        </p>
      </div>
      <div class="section-right">
        <Image src={WhoWeAre01} alt="A group of visitors standing outside the Travis County Jail." />
        <Image src={WhoWeAre02} alt="A man and woman holding a sign advocating for social justice reform." />
      </div>
    </div>
    <div class="inner-container who-we-are-card-list">
      <!-- Card List -->
      <div class="card-list">
        <ul>
          <li>
            <div class="card-icon"><GraduationCap class="icon" /></div>
            <label>Education</label>
            <p>
              To educate ourselves and our communities about social justice issues.
            </p>
          </li>
          <li>
            <div class="card-icon"><ChatsTeardrop class="icon" /></div>
            <label>Communication</label>
            <p>
              To communicate our views and engage in community discussions.
            </p>
          </li>
          <li>
            <div class="card-icon"><SpeakerHigh class="icon" /></div>
            <label>Advocacy</label>
            <p>
              To be a voice of change.
            </p>
          </li>
          <li>
            <div class="card-icon"><HandShake class="icon" /></div>
            <label>Collaboration</label>
            <p>
              To communicate our views and engage in community discussions.
            </p>
          </li>
          <li>
            <div class="card-icon"><SealCheck class="icon" /></div>
            <label>Accountability</label>
            <p>
              To ensure accountability.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- What we do -->
  <section class="section accent what-we-do">
    <div class="inner-container">
      <!-- Section Overview -->
      <div class="section-title">
          <h2 class="pre-header">What we do</h2>
          <p class="sub-header">
            From court to community, creating lasting change.
          </p>
      </div>

      <!-- Card List -->
      <div class="card-list">
        <ul>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>CAFA (Counsel at First Appearance)</label>
              <p>
                Everyone deserves a lawyer from their very first court appearance.
              </p>
            </div>
          </li>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>Public Defender Office Support</label>
              <p>
                We collaborate with public defender offices to strengthen representation for indigent clients.
              </p>
            </div>
          </li>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>Police Oversight & Accountability</label>
              <p>
                Promoting transparency and community oversight to ensure fair policing practices.
              </p>
            </div>
          </li>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>Early Case Review & Diversion</label>
              <p>
                Identifying options before trial—dismissal, diversion, or reduced charges—to reduce unnecessary incarceration.
              </p>
            </div>
          </li>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>Community Powered Support</label>
              <p>
                We help families understand the legal process and actively support their loved ones as part of the defense team.
              </p>
            </div>
          </li>
          <li>
            <Image src={WhatWeDo01} alt="Image" />
            <div class="card-list-content">
              <label>Rights Education & Advocacy</label>
              <p>
                Educating our community about legal rights, system navigation, and advocacy strategies.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Latest News -->
  <section class="section latest-news">
    <div class="inner-container">
      <h2>Latest news</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate elementum lorem, non varius libero porta in. Aenean molestie molestie accumsan. Nam feugiat, risus sit amet ornare tristique, massa mauris vehicula dolor, sed ultricies mauris nulla vitae nunc. Aliquam nunc lacus, congue nec elit quis, ultrices dapibus tellus.

          <mdc-buttonlink
              size="40"
              href=""
              rel="noopener noreferrer">
              View latest news →
              </mdc-buttonlink>
      </p>
    </div>
  </section>

  <!-- Contact / Get Invovled Form -->
  <section class="section secondary get-involved">
    <div class="inner-container">
      <GetInvolvedForm />
    </div>
  </section>
</Layout>

<script>
  // Import the components we need
  import '@momentum-design/components/dist/components/text/index.js';
  import '@momentum-design/components/dist/components/button/index.js';
  import '@momentum-design/components/dist/components/card/index.js';
</script>
